<header class="header">
	<div class="container">
		<div class="header__top">
			<div class="header__logo">
				<img src="./img/logo.png" alt="">
			</div>
			<nav class="main-nav">
				<ul class="main-nav__list">
					<li class="main-nav__item">
						<a class="main-nav__link" href="#reviews">Отзывы</a>
					</li>
					<li class="main-nav__item">
						<a class="main-nav__link" href="#components">Состав</a>
					</li>
					<li class="main-nav__item">
						<a class="main-nav__link" href="#order">Оплата и доставка</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__content">
			<div class="header__about">
				<h1 class="header__title"><span class="green">Избавьтесь от боли <span class="nowrap">и тяжести</span> в ногах</span> при варикозе <br> за 1 курс <br> применения!</h1>
				<ul class="header__list">
					<li class="header__item">Устраните воспаление вен</li>
					<li class="header__item">Избавьтесь от сосудистой сетки</li>
					<li class="header__item">Защититесь от опасных последствий</li>
				</ul>
			</div>
			<div class="header__prod">
				<img src="./img/prod.png" alt="">
			</div>
			<div class="form">
				<h2 class="form__title green">Закажите<br> сейчас по акции</h2>
				<div class="price">
					<div class="price__old">
						<p class="price__title price__title--old">Старая цена</p>
						<div class="price__value price__value--old">
							<span class="price__num price__num--old x_price__previous">1980</span>
							<span class="price__currency price__currency--old x_currency">руб</span>
						</div>
					</div>
					<div class="price__new">
						<p class="price__title price__title--new">Ваша цена</p>
						<div class="price__value price__value--new">
							<span class="price__num price__num--new x_price__current">990</span>
							<span class="price__currency price__currency--new x_currency">руб</span>
						</div>
					</div>
				</div>
				<p class="form__ends">Осталось до конца акции</p>
				<div class="timer">
					<div class="timer__item">
						<span class="hours timer__value"></span>
						<span class="timer__caption">Часы</span>
					</div>
					<div class="timer__item">
						<span class="minutes timer__value"></span>
						<span class="timer__caption">Мин</span>
					</div>
					<div class="timer__item">
						<span class="seconds timer__value"></span>
						<span class="timer__caption">Сек</span>
					</div>
				</div>
				<button class="btn ever-popup-btn">
					Заказать 
					<span class="btn__small">со скидкой</span>
				</button>
				<p class="form__footnote">* при заказе курса</p>
			</div>
		</div>
		<div class="header__leg">
			<img src="./img/header__leg.png" alt="">
		</div>
	</div>
</header>