<section class="reasons block">
	<div class="lines"></div>
	<div class="container">
		<h2 class="title">Уберечься от всех причин варикоза невозможно</h2>
		<div class="reasons__list">
			<div class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-1.jpg" alt="">
				</div>
				<div class="reasons__text">Наследственность</div>
			</div>
			<div class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-2.jpg" alt="">
				</div>
				<div class="reasons__text">Возрастные изменения</div>
			</div>
			<div class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-3.jpg" alt="">
				</div>
				<div class="reasons__text">Травмы ног</div>
			</div>
			<div class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-4.jpg" alt="">
				</div>
				<div class="reasons__text">Высокое давление</div>
			</div>
			<div class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-5.jpg" alt="">
				</div>
				<div class="reasons__text">Стоячая работа</div>
			</div>
			<div class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-6.jpg" alt="">
				</div>
				<div class="reasons__text">После беременности</div>
			</div>
		</div>
	</div>
</section>