<section class="reasons block for-lines">
	<div class="lines"></div>
	<div class="container">
		<h2 class="title">Уберечься от всех причин варикоза невозможно</h2>
		<ul class="reasons__list">
			<li class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-1.jpg" alt="">
				</div>
				<p class="reasons__text">Наследственность </p>
			</li>
			<li class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-2.jpg" alt="">
				</div>
				<p class="reasons__text">Возрастные изменения </p>
			</li>
			<li class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-3.jpg" alt="">
				</div>
				<p class="reasons__text">Травмы ног </p>
			</li>
			<li class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-4.jpg" alt="">
				</div>
				<p class="reasons__text">Высокое давление </p>
			</li>
			<li class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-5.jpg" alt="">
				</div>
				<p class="reasons__text">Стоячая работа </p>
			</li>
			<li class="reasons__item">
				<div class="reasons__img">
					<img src="./img/reasons__img-6.jpg" alt="">
				</div>
				<p class="reasons__text">После беременности </p>
			</li>
		</ul>
	</div>
</section>