<section class="symptoms">
	<div class="container">
		<div class="symptoms__content">
			<h2 class="title">Первые симптомы варикоза</h2>
			<ul class="symptoms__list">
				<li class="symptoms__item">
					<div class="symptoms__img">
						<img src="./img/symptoms__img-1.png" alt="">
					</div>
					<p class="symptoms__desc">Отеки</p>
				</li>
				<li class="symptoms__item">
					<div class="symptoms__img">
						<img src="./img/symptoms__img-2.png" alt="">
					</div>
					<p class="symptoms__desc">Зуд<br> в области икр <span class="nowrap">и лодыжек</span></p>
				</li>
				<li class="symptoms__item">
					<div class="symptoms__img">
						<img src="./img/symptoms__img-3.png" alt="">
					</div>
					<p class="symptoms__desc">Усталость<br> ног</p>
				</li>
				<li class="symptoms__item">
					<div class="symptoms__img">
						<img src="./img/symptoms__img-4.png" alt="">
					</div>
					<p class="symptoms__desc">Сосудистая сетка</p>
				</li>
			</ul>
			<h3 class="symptoms__conclusion">При любом из этих симптомов – <span class="green">нужно действовать!</span></h3>
			<button class="btn">Заказать <span class="btn__small">со скидкой</span></button>
		</div>
	</div>
</section>