<section class="consequences block for-lines">
	<div class="lines"></div>
	<div class="container">
		<h2 class="title">Если запустить варикоз,<br> он может привести к серьезным последствиям</h2>
		<ul class="consequences__list">
			<li class="consequences__item">
				<div class="consequences__img">
					<img src="./img/consequences__img-1.jpg" alt="">
				</div>
				<div class="consequences__text">
					<h3 class="consequences__text-title">Набухшие вены</h3>
					<p class="consequences__desc">Кровь застаивается, вены набухают <span class="nowrap">все сильнее</span></p>
				</div>
			</li>
			<li class="consequences__item">
				<div class="consequences__img">
					<img src="./img/consequences__img-2.jpg" alt="">
				</div>
				<div class="consequences__text">
					<h3 class="consequences__text-title">Трофическая язва</h3>
					<p class="consequences__desc">Появляются незаживающие раны <span class="nowrap">и язвы,</span> через которые <span class="nowrap">в организм</span> попадают инфекции</p>
				</div>
			</li>
			<li class="consequences__item">
				<div class="consequences__img">
					<img src="./img/consequences__img-3.jpg" alt="">
				</div>
				<div class="consequences__text">
					<h3 class="consequences__text-title">Образование тромбов</h3>
					<p class="consequences__desc">В венах появляются тромбы, они могут оторваться <span class="nowrap">и привести</span> к летальному исходу</p>
				</div>
			</li>
			<li class="consequences__item">
				<div class="consequences__img">
					<img src="./img/consequences__img-4.jpg" alt="">
				</div>
				<div class="consequences__text">
					<h3 class="consequences__text-title">Венозное кровотечение</h3>
					<p class="consequences__desc">Из набухших вен будет постоянно сочиться кровь</p>
				</div>
			</li>
		</ul>
		<h3 class="consequences__conclusion">Благодаря крему <span class="green">Varius</span> <span class="nowrap">всего этого</span> можно легко избежать</h3>
		<button class="btn">Заказать <span class="btn__small">со скидкой</span></button>
	</div>
</section>