<section class="components block">
	<div class="container">
		<h2 class="title">В основе <span class="green">Varius</span> лежат натуральные ингредиенты, которые помогают от варикоза всего за 1 курс</h2>
		<ul class="components__list">
			<li class="components__item components__item--big">
				<div class="components__img components__img--big">
					<img src="./img/components__img-1.png">
				</div>
				<div class="components__text components__text--big">
					<h3 class="components__text-title components__text-title--big">Экстракт<br> виноградных косточек</h3>
					<p class="components__text-desc components__text-desc--big">Укрепляет стенки сосудов. Улучшает циркуляцию крови. Очищает сосуды от застоявшейся крови. </p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/components__img-2.png">
				</div>
				<div class="components__text">
					<h3 class="components__text-title">Экстракт лаванды узколистной</h3>
					<p class="components__text-desc">Снимает боль и улучшает кровообращение, уменьшает чувство тяжести  и повышенной утомляемости в ногах.</p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/components__img-3.png">
				</div>
				<div class="components__text">
					<h3 class="components__text-title">Экстракт корня имбиря</h3>
					<p class="components__text-desc">Противостоит воспалениям, облегчает болевые ощущения, снимает отеки.</p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/components__img-4.png">
				</div>
				<div class="components__text">
					<h3 class="components__text-title">Витамин Е</h3>
					<p class="components__text-desc">Обладает антиоксидантными свойствами, участвует в процессах тканевого метаболизма, улучшает состояние вен и уменьшает ночные судороги при варикозе.</p>
				</div>
			</li>
		</ul>
		<h3 class="components__conclusion">Крем <span class="green">Varius</span> действует комплексно:
обезболивает, устраняет чувство тяжести в ногах и снимает воспаления вен</h3>
	</div>
</section>