<section class="components block for-lines" id="components">
	<div class="lines"></div>
	<div class="container">
		<h2 class="title">В основе <span class="green">Varius</span> лежат натуральные ингредиенты, которые помогают <span class="nowrap">от варикоза</span> всего за 1 курс</h2>
		<ul class="components__list">
			<li class="components__item components__item--big">
				<div class="components__img components__img--big">
					<img src="./img/components__img-grape.png">
				</div>
				<div class="components__text components__text--big">
					<h3 class="components__text-title components__text-title--big">Экстракт<br> виноградных косточек</h3>
					<p class="components__text-desc components__text-desc--big">Укрепляет стенки сосудов. Улучшает циркуляцию крови.<br> <span class="nowrap">Очищает сосуды</span> <span class="nowrap">от застоявшейся</span> крови. </p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/components__img-2.png">
				</div>
				<div class="components__text">
					<h3 class="components__text-title">Экстракт<br> лаванды узколистной</h3>
					<p class="components__text-desc">Снимает боль<br> и улучшает кровообращение,<br> уменьшает чувство тяжести<br>  и повышенной утомляемости <span class="nowrap">в ногах.</span></p>
				</div>
			</li>
			<li class="components__item components__item--3">
				<div class="components__img">
					<img src="./img/components__img-3.png">
				</div>
				<div class="components__text">
					<h3 class="components__text-title">Экстракт<br> корня имбиря</h3>
					<p class="components__text-desc">Противостоит воспалениям, облегчает<br> болевые ощущения, <span class="nowrap">снимает отеки.</span></p>
				</div>
			</li>
			<li class="components__item">
				<div class="components__img">
					<img src="./img/components__img-4.png">
				</div>
				<div class="components__text">
					<h3 class="components__text-title components__text-title--4 ">Витамин Е</h3>
					<p class="components__text-desc components__text-desc--4">Обладает антиоксидантными<br> свойствами, участвует в процессах<br> тканевого метаболизма, улучшает<br> состояние вен и уменьшает ночные<br> судороги при варикозе.</p>
				</div>
			</li>
		</ul>
		<h3 class="components__conclusion">Крем <span class="green">Varius</span> действует комплексно:<br>
обезболивает, устраняет чувство тяжести <span class="nowrap">в ногах</span> <span class="nowrap">и снимает</span> воспаления вен</h3>
	</div>
</section>