<section class="use block for-lines">
	<div class="lines"></div>
	<div class="container">
		<h2 class="title">Как применять крем <span class="green">Varius</span></h2>

		<div class="use__list">
			<div class="use__item">
				<div class="use__img"><img src="img/use-1.png" alt=""></div>
				<p class="use__text">Небольшое количество крема нанесите на&nbsp;проблемную зону </p>
			</div>
			<div class="use__item">
				<div class="use__img"><img src="img/use-2.png" alt=""></div>
				<p class="use__text">Вотрите легкими круговыми движениями</p>
			</div>
			<div class="use__item">
				<div class="use__img"><img src="img/use-3.png" alt=""><img src="img/order-3.png" alt="" class="pack"></div>
				<p class="use__text">Повторяйте утром и&nbsp;вечером</p>
			</div>
		</div>

		<h3 class="use__conclusion">Рекомендуемый курс — <span class="green">от 30 дней</span></h3>

		<button class="btn">Заказать <span class="btn__small">со скидкой</span></button>

	</div>
</section>