<section class="expert block for-lines">
	<div class="container">
		<div class="lines"></div>
		<h2 class="title">Варикоз нельзя запускать</h2>
		
		<div class="expert__content">
			
			<div class="expert__list">
				<div class="expert__list-head">
					<h4 class="expert__list-title">Simona Thomson,</h4>
					<p class="expert__list-subtitle green">эксперт  в области красоты и здоровья</p>
				</div>
					<p class="expert__text">Люди упорно отказываются относиться серьезно к&nbsp;варикозу.<br> Они запускают его, а потом им приходится годами бороться с&nbsp;осложнениями этого недуга.</p>
					<p class="expert__text">Не доводить до этого — просто. Нужно вовремя заняться восстановлением вен. Желательно — натуральным средством.</p>
					<p class="expert__text">Сейчас есть хорошие средства, но большинство из них очень дороги или вообще практически недоступны.</p>
					<p class="expert__text">А вот крем <span class="green">Varius</span> — это приятное исключение. Он эффективен<br> и&nbsp;при этом достаточно доступен. Я и сама им пользуюсь.</p>
					<p class="expert__text">Уже за 1 курс <span class="green">Varius</span> помогает избавиться от отеков, болей в&nbsp;ногах, чувства тяжести и&nbsp;других симптомов варикоза.<br> Крем этот натуральный и&nbsp;при этом очень действенный.</p>
			</div>

			<div class="expert__woman"><img src="img/expert-woman.png" alt=""></div>
		</div>

	</div>
</section>