<section class="reviews block" id="reviews">
	<div class="container">
		<h2 class="title">Отзывы</h2>
		<div class="reviews__list">
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-1.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Катерина,</p>
						<p class="reviews__age">47 лет,</p>
						<p class="reviews__city">г. Богор</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Ноги перестали болеть</h3>
					<p class="reviews__text">Крем <span class="green">Varius</span> мне купил муж, сказал, <span class="nowrap">что крем</span> очень хвалят у него на работе. <span class="nowrap">Я согласилась</span> попробовать, но не очень верила, что он поможет, просто до этого уже три крема перепробовала и ничего <span class="nowrap">не помогло,</span> ноги так и продолжали под вечер болеть сильно. А <span class="green">Varius</span> очень хорошо справился. <b>За четыре недели боли прошли полностью.</b> Уже полтора месяца, как закончила курс, и все также чувствую себя прекрасно.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-2.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Мария,</p>
						<p class="reviews__age">41 год,</p>
						<p class="reviews__city">г. Депок</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Вернула красоту и здоровье<br> ногам</h3>
					<p class="reviews__text">У меня уже с полгода был варикоз, ноги отекали сильно, а потом вены на задней стороне бедер набухли. Я уже думала пойти на операцию, потому что это <span class="nowrap">и некрасиво</span> и опасно. Проблемы решила кремом <span class="green">Varius</span>. Понравилось, что был <b>быстрый эффект, что у меня не было аллергии на крем, что пахнет приятно <span class="nowrap">и быстро</span> впитывается в кожу.</b> Сейчас <span class="nowrap">и вены</span> стали нормального цвета <span class="nowrap">и разгладились.</span></p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-3.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Иван,</p>
						<p class="reviews__age">53 года,</p>
						<p class="reviews__city">г. Бандунг</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Снова стал хорошо спать<br> и высыпаться</h3>
					<p class="reviews__text">Из-за варикоза не мог уже долгое время выспаться. Боли в ногах начинались вечером и спать просто не давали. <span class="nowrap">Я подкладывал</span> под ноги подушки, но результата не было. Даже стал мазать обезболивающими мазями, которые действовали совсем недолго. А вот <b>благодаря вариусу снова стал высыпаться. Боли прошли, еще <span class="nowrap">исчезло чувство</span> тяжести, онемение <span class="nowrap">и покалывание</span> в ногах.</b> У меня стоячая работа, весь на ногах, после того, как стал этим кремом пользоваться ноги даже уставать меньше стали.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-4.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Татьяна,</p>
						<p class="reviews__age">37 лет,</p>
						<p class="reviews__city">г. Семаранг</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Исчезла венозная сетка</h3>
					<p class="reviews__text">Слабые сосуды мне передались <span class="nowrap">по наследству</span> и когда мне исполнилось 34 у меня уже была заметная венозная сетка. Она была заметно не сильно, но <span class="nowrap">все равно</span> вызывала у меня дискомфорт. Вариус был первый крем от варикоза, который я попробовала и он мне очень помог. <b>Сосуды под конец четвертой недели уже были еле заметные.</b> Еще скажу, что даже кожа теперь на ногах выглядит моложе и стала более гладкой.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-5.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Карина,</p>
						<p class="reviews__age">46 лет,</p>
						<p class="reviews__city">г. Сурабая</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Выбросила компрессионные<br> гольфы</h3>
					<p class="reviews__text">Когда у меня появился варикоз мне пришлось носить компрессионные гольфы. Носила я их целый год, но мне они никогда не нравились. Избавил меня от них как раз <span class="green">Varius</span>. <b>Прошла с ним целый курс и вены разгладились.</b> <span class="nowrap">Какое-то</span> время еще переживала, что варикоз вернется и снова гетры носила. Но потом рискнула и целый месяц ходила без них. Но все было все равно хорошо.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-6.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Максим,</p>
						<p class="reviews__age">59 лет,</p>
						<p class="reviews__city">г. Джакарта</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Снова смог вернуться на работу<br> и ходить на долгие прогулки</h3>
					<p class="reviews__text">Сильные боли в ногах не давали нормально работать и гулять. А прогулки <span class="nowrap">я очень</span> люблю. Операцию я очень боялся и не хотел ее делать, да и думал, что <span class="nowrap">в моем</span> возрасте уже у всех проблемы <span class="nowrap">с варикозом.</span> Дочка принесла <span class="green">Varius</span>. Стал <span class="nowrap">я мазать</span> им ноги. <b>За две недели почувствовал, как боль уменьшается. <span class="nowrap">А потом</span> совсем прошла.</b> Смог вернуться на работу и даже прогуливаться после работы вечером.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-7.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Маргарита,</p>
						<p class="reviews__age">33 года,</p>
						<p class="reviews__city">г. Серанг</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Привела в порядок ноги после<br> беременности</h3>
					<p class="reviews__text">Во время беременности и после очень обострился варикоз и на ноги страшно было смотреть из-за рельефных вен <span class="nowrap">и венозных</span> сеток. Подруга советовала сделать лазерные процедуры, но я испугалась. Стала искать что-то более безопасное. Так и нашла <span class="green">Varius</span>. Он мне <b>подошел отлично, и вены разгладил, <span class="nowrap">и венозную</span> сетку убрал.</b> Никаких процедур лазером делать не пришлось, чему я очень и рада.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-8.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Эльза,</p>
						<p class="reviews__age">47 лет,</p>
						<p class="reviews__city">г. Бекаси</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Тяжесть в ногах ушла</h3>
					<p class="reviews__text">Использовала крем вариус вместе <span class="nowrap">с компрессионными</span> чулками и очень довольна результатом. Раньше вены сильно прощупывались на ногах, сейчас они вообще еле заметны под кожей. <span class="nowrap">Но я не только</span> для косметического эффекта прошла курс этим кремом, <b><span class="nowrap">у меня</span> ноги под вечер становились <span class="nowrap">очень тяжелыми,</span> что я еле ходила. Вариус и с этой проблемой хорошо разобрался.</b> Кстати, не заметила никакой аллергии на коже, все хорошо.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-9.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Изабелла,</p>
						<p class="reviews__age">35 лет,</p>
						<p class="reviews__city">г. Палу</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Избавились с мамой от варикоза</h3>
					<p class="reviews__text">Моя мама лечила варикоз народными средствами, но вены ни у меня, ни у нее не пропали. Тогда я решила найти что-то современное. Выбрали <span class="green">Varius</span>, потому что в его составе натуральные ингредиенты. Мне он начал помогать спустя 2 недели. <span class="nowrap">Я заметила,</span> что <b>ноги перестали болеть <span class="nowrap">и вены</span> стали уменьшаться.</b> Маме только на четвертую неделю помог. У нее тоже вены стали разглаживаться. Больше никакой народной медицины.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews__img-10.jpg" alt="">
					</div>
					<div class="reviews__head-text">
						<p class="reviews__name">Катерина,</p>
						<p class="reviews__age">48 лет,</p>
						<p class="reviews__city">г. Думай</p>
					</div>
				</div>
				<div class="reviews__body">
					<h3 class="reviews__quote">Удобно использовать и хорошо<br> помогает</h3>
					<p class="reviews__text">Мне повезло, потому что, при первом <span class="nowrap">же симптоме</span> я купила себе вариус <span class="nowrap">и остановила</span> варикоз. Симптом у меня был простой – сильные отеки ног. А мне всего 34, поэтому я решила, что это подозрительно. <b>С вариусом отеки прошли и уже два месяца не возвращаются.</b> Посоветовала крем всем своим подругам, у которых также симптомы варикоза есть. Очень мне благодарны, он им тоже помогает.</p>
				</div>
				<btn class="reviews__more"></btn>
			</div>
		</div>
		<p class="reviews__footnote">* Результаты могут варьироваться <span class="nowrap">в зависимости</span> индивидуальных особенностей организма</p>
	</div>
</section>