<section class="order block for-lines">
	<div class="lines"></div>
	<div class="container">
		<h2 class="title">Как заказать доставку <span class="green">Varius</span></h2>

		<div class="order__list">
			<div class="order__item">
				<div class="order__img"><img src="img/order-1.png" alt=""></div>
				<p class="order__title">Заполните форму заказа</p>
				<p class="order__text">Укажите только свое имя<br>и&nbsp;номер телефона</p>
			</div>
			<div class="order__item">
				<div class="order__img"><img src="img/order-2.png" alt=""></div>
				<p class="order__title">Ответьте на звонок оператора</p>
				<p class="order__text">Он уточнит ваши адресные данные и&nbsp;ответит на все вопросы о <span class="green">Varius</span></p>
			</div>
			<div class="order__item">
				<div class="order__img"><img src="img/order-3.png" alt=""></div>
				<p class="order__title">Оплатите после получениям</p>
				<p class="order__text">Никаких предоплат!</p>
			</div>
		</div>
	</div>
</section>