.lines {
	min-height: 100%;
	width: 100%;
	position: absolute;
	background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 398px, #f8eee6 398px, #f8eee6 399px);
    background-size: 400px 1px;
    background-position: -45px 0;
    z-index: -1;
    &::before {
		content: '';
		display: block;
		position: absolute;
		height: 6px;
		width: 6px;
		border-radius: 50%;
		background-color: #eee1d7;
		left: 50%;
		transform: translateX(-601px);
		top: 317px;
		box-shadow: 
			400px 289px 0 #eee1d7,
			800px 179px 0 #eee1d7,
			1200px -251px 0 #eee1d7;
    }
}

.reasons {
	padding-top: 143px;
	padding-bottom: 80px;
	position: relative;
	z-index: 0;
	background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 398px, #f8eee6 398px, #f8eee6 399px);
    background-size: 400px 1px;
    background-position: -45px 0;
	.title {
		letter-spacing: -0.5px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 73px;
		max-width: 1120px;
		margin-left: auto;
		margin-right: auto;
	}
	&__item {
		width: 100%;
		max-width: 320px;
		text-align: center;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			// transform: translateX(-50%) translateY(-50%);
			width: 300px;
			height: 360px;
			background-image: url(../img/reasons__before.jpg);
			background-repeat: no-repeat;
			z-index: -2;
		}
		&:nth-of-type(n+4) {
			margin-top: 70px;
		}
		&:nth-of-type(1)::before {
			left: -14px;
		    top: -30px;
		    transform: rotate(0deg) scaleX(1);
		}
		&:nth-of-type(2)::before {
			left: -23px;
		    top: -50px;
		    transform: rotate(86deg) scaleX(-1);
		}
		&:nth-of-type(3)::before {
			left: 15px;
		    top: -23px;
		    transform: rotate(-39deg) scaleX(1);
		}
		&:nth-of-type(4)::before {
			left: -11px;
		    top: -109px;
		    transform: rotate(-180deg) scaleX(-1);
		}
		&:nth-of-type(5)::before {
			left: -35px;
		    top: -88px;
		    transform: rotate(145deg) scaleX(-1);
		}
		&:nth-of-type(6)::before {
			left: 40px;
		    top: -103px;
		    transform: rotate(-95deg) scaleX(-1);
		}
	}
	&__img {
		text-align: center;
		border-radius: 50%;
		width: 230px;
		height: 230px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		box-shadow: inset 0 0 0px 4px #fb5d5d, 4px 5px 25px -4px rgba(178, 84, 61, 0.3);
		img {
			border-radius: 50%;
			position: relative;
			z-index: -1;
		}
	}
	&__text {
		font-size:26px;
		font-weight: bold;
		color: #2b2d26;
		margin-top: 34px;
	}
}
@media screen and (max-width: 1190px){
  
}
@media screen and (max-width: 1023px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 479px){

}