.reasons {
	padding-top: 143px;
	padding-bottom: 80px;
	
	.title {
		letter-spacing: -0.5px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 73px;
		max-width: 1120px;
		margin-left: auto;
		margin-right: auto;
	}
	&__item {
		width: 100%;
		max-width: 320px;
		text-align: center;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			// transform: translateX(-50%) translateY(-50%);
			width: 350px;
			height: 360px;
			background-image: url(../img/reasons__before.jpg);
			background-position: 50%;
			background-repeat: no-repeat;
			z-index: -2;
		}
		&:nth-of-type(n+4) {
			margin-top: 70px;
		}
		&:nth-of-type(1)::before {
			left: -14px;
		    top: -65px;
		    transform: rotate(0deg) scaleX(1);
		}
		&:nth-of-type(2)::before {
			left: -16px;
		    top: -74px;
		    transform: rotate(86deg) scaleX(-1);
		}
		&:nth-of-type(3)::before {
			left: -15px;
		    top: -67px;
		    transform: rotate(-39deg) scaleX(1);
		}
		&:nth-of-type(4)::before {
			left: -15px;
		    top: -76px;
		    transform: rotate(-180deg) scaleX(-1);
		}
		&:nth-of-type(5)::before {
			left: -15px;
		    top: -75px;
		    transform: rotate(148deg) scaleX(-1);
		}
		&:nth-of-type(6)::before {
			left: -14px;
		    top: -82px;
		    transform: rotate(-97deg) scaleX(-1);
		}
	}
	&__img {
		text-align: center;
		border-radius: 50%;
		width: 230px;
		height: 230px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		box-shadow: inset 0 0 0px 4px #fb5d5d, 4px 5px 25px -4px rgba(178, 84, 61, 0.3);
		img {
			border-radius: 50%;
			position: relative;
			z-index: -1;
		}
	}
	&__text {
		font-size:26px;
		font-weight: bold;
		color: #2b2d26;
		margin-top: 34px;
	}
}
@media screen and (max-width: 1190px){
  .reasons {
  	&__list {
  		margin-top: 50px;
  	}
  	&__item {
  		&:nth-of-type(n+4) {
  			margin-top: 50px;
  		}
  	}
  	&__text {
  		margin-top: 25px;
  		font-size: 24px;
  	}
  }
}
@media screen and (max-width: 1023px){
	.reasons {
		&__list {
			margin-top: 30px;
		}
		&__item {
			max-width: 248px;
			&::before {
				width: 300px;
				height: 300px;
				background-size: contain;
			}
			&:nth-of-type(n+1)::before {
				left: -19px;
    			top: -47px;
			}
			&:nth-of-type(n+4) {
				margin-top: 30px;
			}
		}
		&__img {
			width: 200px;
			height: 200px;
		}
		&__text {
			font-size: 22px;
			margin-top: 18px;
		}
	}
}
@media screen and (max-width: 767px){
	.reasons {
		&__list {
			align-items: baseline;
		}
		&__item {
			max-width: 228px;
			&::before {
				width: 280px;
				height: 280px;
			}
			&:nth-of-type(n+3) {
				margin-top: 20px;
			}
		}
		&__img {
			width: 180px;
			height: 180px;
		}
		&__text {
			font-size: 20px;
			margin-top: 10px;
		}
	}
}
@media screen and (max-width: 479px){
	.reasons {
		&__list {
			margin-top: 10px;
		}
		&__item {
			max-width: 150px;
			&::before {
				width: 210px;
				height: 210px;
			}
			&:nth-of-type(n+1)::before {
				left: -33px;
				top: -40px;
			}
			&:nth-of-type(2) {
				order: 10;
			}
			&:nth-of-type(n+3) {
				margin-top: 15px;
			}
		}
		&__img {
			width: 130px;
			height: 130px;
		}
		&__text {
			font-size: 16px;
		}
	}
}