.main-nav {
	width: 100%;
	max-width: 372px;
	margin-top: 18px;
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__link {
		color: #2b2d26;
		font-size: 20px;
		font-weight: 400;
		background: repeating-linear-gradient(to right, rgba(91, 92, 92, 1) 0px, rgba(91, 92, 92, 1) 4px, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0) 6px);
	    background-repeat: repeat-x;
	    background-position: 0 93%;
	    background-size: 6px 1px;
	    transition: 0.3s;
	    &:hover {
	    	background-size: 6px 0px;
	    	transition: 0.3s;
	    }
	}
}
@media screen and (max-width: 1190px){
  .main-nav {
  	max-width: 350px;
  }
}

@media screen and (max-width: 479px){
	.main-nav {
		&__link {
			font-size: 18px;
		}
	}
}