doctype html
html
  head
    meta(charset="utf-8")
    title Купить Вариус недорого. Цены, отзывы. Закажите Вариус сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/A_header.html
    include ../common/B_reasons.html
    include ../common/C_symptoms.html
    include ../common/D_consequences.html
    include ../common/E_components.html
    include ../common/F_use.html
    include ../common/G_expert.html
    include ../common/H_reviews.html
    include ../common/I_order.html
    include ../common/J_header-bottom.html
    include ../common/K_footer.html
    include ../common/L_popup.html
    
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/slick.min.js')
    script(src='js/everad.js')
    script(src='js/app.js')
